@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0px;
  margin: 0px;
  background-color: #161515;
}

* {
  font-family: "Source Serif Pro", serif;
}

.content {
  max-width: 800px;
  margin: 0px auto;
}

.sub {
  color: gray;
  font-size: 13px;
}

.notion-text,
.notion-callout-text {
  color: #d1d5db !important;
}

.notion-text {
  /* font-family: "Inter", sans-serif; */
  font-size: 22px !important;
}

@media only screen and (max-width: 608px) {
  .notion-text {
    font-size: 22px !important;
  }
}

.notion-image-caption {
  color: #d1d5db !important;
}

.grayscale,
img {
  filter: grayscale(0%) !important;
}

/* .grayscale:hover,
img {
  filter: grayscale(0%) !important;
} */
