@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0px;
  margin: 0px;
  background-color: #fff;
}

* {
  font-family: "Fira Code", monospace;
}

.content {
  max-width: 800px;
  margin: 0px auto;
}

.sub {
  color: gray;
  font-size: 13px;
}

.notion-text,
.notion-callout-text {
  color: #d1d5db !important;
}

.notion-text {
  /* font-family: "Inter", sans-serif; */
  font-size: 22px !important;
}

@media only screen and (max-width: 608px) {
  .notion-text {
    font-size: 22px !important;
  }
}

.notion-image-caption {
  color: #d1d5db !important;
}

.grayscale,
img {
  filter: grayscale(0%) !important;
}

/* .grayscale:hover,
img {
  filter: grayscale(0%) !important;
} */

p {
  line-height: 1.5 !important;
}

@keyframes rainbow-border {
  0% {
    border-color: red;
  }
  20% {
    border-color: orange;
  }
  40% {
    border-color: yellow;
  }
  60% {
    border-color: green;
  }
  80% {
    border-color: blue;
  }
  100% {
    border-color: violet;
  }
}

@keyframes rainbow-color {
  0% {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: violet;
  }
}

.animate-rainbow-border {
  animation: rainbow-border 3s linear infinite;
  transition: 1s all;
}

.animate-rainbow-color {
  animation: rainbow-color 3s linear infinite;
  transition: 1s all;
}
